{% extends "blog/base.html" %}
{% block content %}
        <article class="media content-section">
            <img class="img-thumbnail article-img " alt="User" src="{{ object.author.profile.image.url }}">
            <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ object.Author }}</a>
              <small class="text-muted">{{ object.Date_Posted }}</small>
            </div>
            <h2 class="article-class">{{ object.Title }}</h2>
            <p class="article-content">{{ object.content }}</p>
          </div>
        </article>
{% endblock content %}
